.env
.git
.gitignore
.github
.pytest_cache
.coverage
.mypy_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
docs/_build/
dist/
build/
*.egg-info/
logs/
data/
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
tests/
fix_formatting.py